<div class="container">

    <div class="row justify-content-center">
        <div class="col-md-6">

            <h1>New Recipe</h1>

            <hr>

            <form action="/recipes/create" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="ttile" class="form-label">Recipe</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="Recipe name">
                </div>
                <div class="mb-3">
                    <label for="formFile" class="form-label">Image</label>
                    <input class="form-control" type="file" id="formFile" name="cover">
                </div>
                <div class="btn-group">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Ingredients
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <span class="input-group-text" id="inputGroup-sizing-sm">Ingredients</span>
                            <label for="ingredients" class="form-label"></label>
                            <input type="text" class="form-control" id="ingredients" name="ingredients">
                        </li>
                        <li>
                            <span class="input-group-text" id="inputGroup-sizing-sm">Ingredients</span>
                            <label for="ingredients" class="form-label"></label>
                            <input type="text" class="form-control" id="ingredients" name="ingredients">
                        </li>
                        <li>
                            <span class="input-group-text" id="inputGroup-sizing-sm">Ingredients</span>
                            <label for="ingredients" class="form-label"></label>
                            <input type="text" class="form-control" id="ingredients" name="ingredients">
                        </li>
                        <li>
                            <span class="input-group-text" id="inputGroup-sizing-sm">Ingredients</span>
                            <label for="ingredients" class="form-label"></label>
                            <input type="text" class="form-control" id="ingredients" name="ingredients">
                        </li>
                        <li>
                            <span class="input-group-text" id="inputGroup-sizing-sm">Ingredients</span>
                            <label for="ingredients" class="form-label"></label>
                            <input type="text" class="form-control" id="ingredients" name="ingredients">
                        </li>
                    </ul>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" class="form-control" id="description" name="description"
                        placeholder="Describe the recipe">
                </div>
                <div class="btn-group">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Directions
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <span class="input-group-text" id="inputGroup-sizing-sm">directions</span>
                            <label for="directions" class="form-label"></label>
                            <input type="text" class="form-control" id="directions" name="directions">
                        </li>
                        <li>
                            <span class="input-group-text" id="inputGroup-sizing-sm">directions</span>
                            <label for="directions" class="form-label"></label>
                            <input type="text" class="form-control" id="directions" name="directions">
                        </li>
                        <li>
                            <span class="input-group-text" id="inputGroup-sizing-sm">directions</span>
                            <label for="directions" class="form-label"></label>
                            <input type="text" class="form-control" id="directions" name="directions">
                        </li>
                        <li>
                            <span class="input-group-text" id="inputGroup-sizing-sm">directions</span>
                            <label for="directions" class="form-label"></label>
                            <input type="text" class="form-control" id="directions" name="directions">
                        </li>
                        <li>
                            <span class="input-group-text" id="inputGroup-sizing-sm">directions</span>
                            <label for="directions" class="form-label"></label>
                            <input type="text" class="form-control" id="directions" name="directions">
                        </li>
                    </ul>
                </div>
                <select class="form-select" name="category" aria-label="Default select example">
                    <option selected>Category</option>
                    <option value="BEEF">BEEF</option>
                    <option value="FISH">FISH</option>
                    <option value="SALAD">SALAD</option>
                    <option value="CHICKEN">CHICKEN</option>
                    <option value="DESSERT">DESSERT</option>
                    <option value="GOAT">GOAT</option>
                    <option value="PORK">PORK</option>
                    <option value="SEAFOOD">SEAFOOD</option>
                    <option value="PASTA">PASTA</option>
                    <option value="VEGETARIAN">VEGETARIAN</option>
                    <option value="VEGAN">VEGAN</option>
                </select>
                <div class="mb-3">
                    <label for="duration" class="form-label">duration</label>
                    <input type="number" class="form-control" id="duration" name="duration"
                        placeholder="Recipe duration">
                </div>
                <label>
                    Latitude: <input type="text" name="latitude" placeholder="latitude">
                </label>

                <label>
                    Longitude: <input type="text" name="longitude" placeholder="longitude">
                </label>
                <button type="submit" class="btn btn-dark">Create</button>
            </form>

        </div>